@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Lato:100,400');
@keyframes load{0%{stroke-dashoffset:0}}
.pro-gress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &>li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #93A2AC;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;
        &:before {
            content: attr(data-name);
            position: absolute;
            width: 100%;
            bottom: -2rem;
            font-weight:400;
        }
        &:after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    }
    svg {
        width: 10rem;
        height: 10rem;
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 25;
            stroke-dasharray: 629;
            stroke: #fff;
            opacity:.9;
            animation: load 10s;
        }
    }
}
.c{
    margin: 40px auto;
    padding: 20px;
    width:400px;

}.c1{
   margin-left:  150px;
 
}



	.github-corner:hover .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}

	@keyframes octocat-wave {

		0%,
		100% {
			transform: rotate(0);
		}

		20%,
		60% {
			transform: rotate(-25deg);
		}

		40%,
		80% {
			transform: rotate(10deg);
		}
	}

	@media (max-width: 500px) {
		.github-corner:hover .octo-arm {
			animation: none;
		}

		.github-corner .octo-arm {
			animation: octocat-wave 560ms ease-in-out;
		}
	}
